<div class='layout-column layout-align-center-center'>
  <h1 id='hello'> Sign Up </h1>
  <h1 id='goodbye' class='hide'> Expect an Email Soon! </h1>
  <div class='flex-grow'>
    {{#paper-form onSubmit=(action "registerAction") as |form|}}
      <div class='layout-column'>
        <div class="flex-grow">
        {{form.input
          label="Email"
          value=email
          onChange=(action (mut email))
          required=true
          type='email'}}
        </div>
        <div class='flex-grow'>
          {{form.input
            label="Password"
            value=password
            onChange=(action (mut password))
            required=true
            type='password'}}
        </div>
        <div class='flex-grow'>
          {{form.input
            label="Confirm Password"
            value=confirmPassword
            onChange=(action (mut confirmPassword))
            required=true
            type='password'}}
        </div>
        <div class="layout-row">
          {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
        </div>
      </div>
    {{/paper-form}}
  </div>
</div>
