<div id='js-slideInElement{{fadeId}}' class="hero-container">
  <img class='hero-img' src='{{image}}'>
  <div class='layout-row'>
    <span class='flex'></span>
    <div class="hero-content md-whiteframe-z2">
      <div class='layout-column layout-align-center-center'>
        <img src="{{url}}" alt="Logo Image" class="hero-logo">
        {{yield}}
      </div>
    </div>
  </div>
</div>
