<div id="js-parallax-window{{windowId}}" class="parallax-window">
  <div class="parallax-static-content">
  </div>
  <div id="js-parallax-background{{windowId}}"
  class="parallax-background"
  style='{{backgroundImage}}'>
  </div>
</div>
